@font-face {
  font-family: "Metropolis";
  src: url("./fonts/metropolis/Metropolis-Regular.otf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Mukta&family=Raleway:wght@500&family=Ubuntu&display=swap");

.App {
  padding: 80px 50px 0px 50px;
}

.root,
.root *,
.MuiDialog-root,
.MuiDialog-root * {
  font-family: "Mukta";
}
